body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	color: #ffffff;
}

h1 {
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	color: #ffffff;
}

h2 {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	color: #ffffff;
} 

/* --------------------------------- COMMON STYLE */
.big_container {
	margin: 0 auto;
	width: 1200px;
}

.wrapper_2 {
	background-color: #849d8f;
}

.container {
	margin: 0 auto 40px auto;
	width: 1146px;
}

.catalog_container {
	margin-bottom: 34px;
}

.small_block {
	width: 560px;

	box-sizing: border-box;

	/*temp*/
	min-height: 150px;
}

.button {
	margin: 0;
	padding: 9px 21px 12px 22px;
	
	border: none;
	border-radius: 35px;

	line-height: 24px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	outline: none;

	background: #eb593c;
	background: linear-gradient(to bottom, #f26843, #ca3824);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* --------------------------------- HEADER STYLE */

.main_header {
	padding-left: 27px;
	padding-right: 27px;
	margin: 0;
}

.main_header .main_navigation {
	margin: 0;
	float: left;
	min-width: 650px;
}

.main_header .main_interaction {
	margin: 0;
	float: right;
	min-width: 300px;
}

.main_navigation ul {
	margin: 0;
	padding: 0;
	padding-top: 23px;
	list-style: none;
}


.main_navigation .main_logo,
.main_navigation .main_item {
	float: left;
}

.main_item .nav_current {
	background: #d07058;
	text-decoration: none;
}

.main_navigation .main_logo {
	margin-top: 9px;
	margin-right: 12px;
}

.main_navigation .main_item {
	margin: 0;
}

.main_item > a {
	display: block;
	padding: 7px 14px 7px 14px;
	
	border-radius: 15px;

	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: underline;
}

.main_item:hover > a {
	border-radius: 15px;

	color: #333333;
	background: #ffffff;
	text-decoration: none;
}

.main_item:active > a {
	border-radius: 15px;

	color: #333333;
	background: #ededed;
	text-decoration: none;
	box-shadow: inset 0 1px 2px #696969;
}

/*_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+*/

ul .catalog_hover {
	position: relative;
}

.catalog_hover .catalog_expand {
	position: absolute;
	z-index: 2;
	left: -7px;

	display: none;
	padding-top: 5px;
	padding-bottom: 0;
	width: 143px;
	
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog_expand .expand_link {
	background: #f8f7f4;
	margin: 0;
}

.catalog_expand .current {
	background: #f6b5a5;
	cursor: default;
}

.catalog_expand li:first-child {
	border-radius: 5px 5px 0 0;
	padding-top: 5px;
}

.catalog_expand li:last-child {
	border-radius: 0 0 5px 5px;
	padding-bottom: 7px;
}

.catalog_expand li:nth-child(2) {
	padding-top: 5px;
	padding-bottom: 2px;
}

.catalog_expand li:nth-child(2):before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 1px;
	background: #d1d0ce;
}

.expand_link a {
	display: block;
	margin: 0;
	padding-left: 21px;

	color: #323232;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	text-decoration: none;
}

.bold_link a {
	font-weight: bold;
	margin-bottom: 0;
}

.expand_link a:hover {
	background: #fbded7;
}

.expand_link a:active {
	background: #f6b5a5;
}

.catalog_hover:hover .catalog_expand {
	display: block;
}

/*_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+*/

.main_interaction ul {
	float: right;
	margin: 0;
	padding-top: 23px;
	list-style: none;
}

.main_interaction .interaction_item {
	float: left;
	padding: 0;
	margin-right: 10px;
}

.main_interaction .interaction_item:last-child {
	margin-right: 0;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

.main_interaction .search_hover {
	position: relative;

	height: 32px;
	width: 32px;

	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2) url("../img/icon_sprite.png") no-repeat -2445px -43px;
}

.main_interaction .search_hover:hover {
	background-position: -2319px -50px;
}

.search_hover .search_expand {
	position: absolute;
	z-index: 3;
	top: 32px;
	right: 0;

	display: none;
	width: 341px;
	height: 84px;
	padding-top: 5px;
}

.search_expand .search_area {
	display: block;
	padding: 20px 15px 20px 15px;

	border-radius: 5px;

	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

	background: #f8f7f4;
}

.search_area input {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	height: 42px;
	width: 309px;
	box-sizing: border-box;
	
	border: 1px solid #d3d3d2;
	border-radius: 5px;

	color: #323232;
	line-height: 24px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
}

.search_area input:hover {
	box-shadow: 0 0 0 2px #c7c6c5;
}

.search_area input:focus {
	box-shadow: 0 0 0 2px #8fbdec;
}

.search_hover:hover .search_expand {
	display: block;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

.main_interaction .join_hover {
	position: relative;
	background: rgba(255, 255, 255, 0.2) url("../img/icon_sprite.png") no-repeat -1694px -44px;
	border-radius: 15px;
}

.main_interaction .join_hover:hover {
	background-color: #f8f7f4;
	background-position: -1573px -44px;
}

.join_hover a {
	display: block;
	padding: 8px 16px 8px 44px;
	margin: 0;

	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
}

.join_hover:hover a {
	color: #323232;
}

.join_hover .join_hover_form {
	position: absolute;
	right: 0;
	z-index: 4;

	display: none;
	width: 277px;
	padding-top: 5px;
	box-sizing: border-box;
}

.join_hover_form .join_expand {
	padding: 20px 17px 20px 19px;

	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

	background: #f8f7f4;
}

.join_expand .email_area,
.join_expand .password_area {
	width: 100%;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;

	height: 44px;

	color: #323232;
	font-size: 14px;
	line-height: 24px;

	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.join_expand .email_area:hover,
.join_expand .password_area:hover {
	box-shadow: 0 0 0 2px #c7c6c5;
}

.join_expand .email_area:focus,
.join_expand .password_area:focus {
	box-shadow: 0 0 0 2px #8fbdec;
}

.join_expand .button {
	padding-left: 22px;
	padding-right: 22px;
}

.join_expand .join_help {
	display: block;
	float: right;
	margin-right: 3px;
}

.join_help a {
	display: inline;
	padding: 0;
	margin: 0;

	color: #323232;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	text-decoration: underline;
	background: none;
}

.join_hover:hover .join_hover_form {
	display: block;
}

/*_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

.shop_hover > a {
	display: block;
	padding: 8px 33px 8px 44px;
	margin: 0;
	
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.2) url("../img/icon_sprite.png") no-repeat -154px -44px;

	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
}

.main_interaction .shop_hover {
	position: relative;
}

.shop_hover .shop_expand {
	position: absolute;
	z-index: 5;
	right: 0;

	display: none;
	
	padding-top: 5px;
	width: 540px;
	box-sizing: border-box;
}

.shop_expand .goods {
	padding-left: 0;
	padding-top: 17px;
	padding-right: 11px;
	padding-bottom: 19px;

	border-radius: 5px;
	
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	
	background: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.goods .goods_table {
	border-spacing: 0;
	border-collapse: collapse;
}

.goods_row td {
	min-height: 33px;
	vertical-align: top;
	border: 1px solid transparent;
}

.goods_row td:first-child {
	position: relative;
	width: 32px;
}

.goods_row td:first-child::before,
.goods_row td:first-child::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 14px;
	background-color: #353535;
	top: 16px;
	right: 0;

	cursor: pointer;
}

.custom_row td:first-child::before,
.custom_row td:first-child::after {
	top: 29px;
	right: 0;

	cursor: pointer;
}

.goods_row td:first-child::before {
	transform: rotate(45deg);
}

.goods_row td:first-child::after {
	transform: rotate(-45deg);
}

.goods_row td:nth-child(2) {
	width: 40px;
	padding-left: 7px;
}

.custom_row td:nth-child(2) {
	padding-top: 15px;
}

.goods_row .goods_name {
	width: 230px;
	padding-left: 5px;
	padding-top: 10px;
}

.goods_row .goods_weight {
	width: 100px;
	padding-left: 15px;
	padding-top: 10px;
}

.goods_weight span {
	color: #999999;
}

.goods_row .goods_summary {
	padding-left: 20px;
	padding-top: 10px;
}

.custom_row .goods_name,
.custom_row .goods_weight,
.custom_row .goods_summary {
	padding-top: 24px;
}

.goods .total_summary {
	position: relative;

	margin-bottom: 15px;
	display: block;
	padding-top: 29px;
	text-align: right;
	
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
}

.goods .total_summary::before {
	position: absolute;
	left: 17px;
	right: 2px;
	top: 14px;

	content: "";
	display: block;
	height: 1px;

	background: #cacac7;
}

.goods .button {
	float: right;
	margin: 0;
	padding: 9px 21px 12px 22px;
	
	border: none;
	border-radius: 35px;

	line-height: 24px;
	color: #fefefe;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;

	background: #eb593c;
	background: linear-gradient(to bottom, #f26843, #e74a35);
	box-shadow: 0 1px 2px #ac1000;
}

.shop_hover:hover > a {
	color: #323232;
	background-color: #f8f7f4;
	background-position: -33px -44px;
}

.shop_hover:hover .shop_expand {
	display: block;
}

/* --------------------------------- MAIN STYLE */
/* ------index */
main .welcom {
	position: relative;

	padding-top: 1px;
}

#input_1, 
#input_2, 
#input_3 {
	display: none;
}

.welcom .lie_slider {
	position: absolute;
	left: 0;
	bottom: 22px;

	font-size: 0;
}

.lie_slider label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 9px;

	vertical-align: top;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.lie_slider label:hover {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

#input_1:checked ~ .wrapper .first_h,
#input_2:checked ~ .wrapper .second_h,
#input_3:checked ~ .wrapper .third_h {
	display: block;
}

#input_1:checked ~ .wrapper .lie_input_1,
#input_2:checked ~ .wrapper .lie_input_2,
#input_3:checked ~ .wrapper .lie_input_3 {
	background-color: #ffffff;
}

#input_1:checked ~ .wrapper {
	background: #849d8f url("../img/icecream_radio_1.png") no-repeat 50% top;
}

#input_2:checked ~ .wrapper {
	background: #8996a6 url("../img/icecream_radio_2.png") no-repeat 50% top;
} 

#input_3:checked ~ .wrapper {
	background: #9d8b84 url("../img/icecream_radio_3.png") no-repeat 50% top;
}

.welcom .sample {
	margin: 319px auto 0 auto;
	width: 800px;
	
	text-align: center;
}

.sample h2 {
	display: none;
	margin: 0;
	margin-left: 2px;
	margin-bottom: 30px;
	padding: 0;

	line-height: 60px;
	text-align: center;

	font-size: 60px;
	font-weight: bold;
}

.sample .big_button {
	margin: 0;
	margin-left: 4px;
	display: inline-block;
	padding: 8px 42px 11px 40px;


	line-height: 44px;
	border-radius: 35px;
	
	color: #ffffff;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #ed5b3d;
	background: linear-gradient(to bottom, #f26843, #e74a35);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.sample .big_button:hover {
	background: #f17b64;
	background: linear-gradient(to bottom, #f58669, #ec6f5e);
	box-shadow: 0 2px 2px #ac1000;
}

.sample .big_button:active {
	color: #fceeec;
	background: #dc5539;
	background: linear-gradient(to bottom, #d74632, #e1613e);
	box-shadow: inset 0 2px 2px #942718;
}

.container .contacts_short {
	position: absolute;
	top: 0;
	right: -2px;

	width: 250px;
}

.contacts_short span {
	float: right;
	
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
}

.contacts_short b {
	float: right;
	
	line-height: 25px;
	font-size: 22px;
	font-weight: bold;
}

.gift .share_left {
	float: left;
	padding: 20px;
	padding-top: 16px;

	border-radius: 15px;
	background: #9f1431 url("../img/raspberry_bg.jpg") 0 0 repeat-x;
}

.gift .share_right {
	float: right;
	padding: 20px;
	padding-top: 16px;

	border-radius: 15px;
	background: #67463a url("../img/choco_bg.jpg") 0 0 repeat-x;
}

.share_left b,
.share_right b {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 15px; 

	line-height: 41px;

	font-size: 35px;
	font-weight: bold;
}

.share_left p,
.share_right p {
	margin: 0;
	padding: 0 6px 45px 0;
	text-align: justify;
	line-height: 22px;

	font-size: 18px;
	font-weight: bold;
}

.share_left .button,
.share_right .button {
	float: right;
	margin: 0;
	padding: 9px 21px 12px 22px;

	border-radius: 35px;

	line-height: 24px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;

	background: #eb593c;
	background: linear-gradient(to bottom, #f26843, #ca3824);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.best_icecream .best_item {
	position: relative;

	border-radius: 0.000001%;
	margin-right: 26px;
	float: left;
	width: 267px;

	text-align: center;
}

.great_ice_item .ice_name {
	display: inline-block;
	line-height: 22px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
}

.best_icecream .best_item:nth-child(4n) {
	margin-right: 0;
}

.best_icecream .best_item::before {
	position: absolute;
	left: 2px;
	
	content: "";
	display: block;
	width: 61px;
	height: 61px;

	background: url("../img/icon_sprite.png") no-repeat -962px -50px;
}

.best_item img,
.great_ice_item img {
	margin: 0;
	margin-bottom: 9px;
}

.hov_act {
	line-height: 22px;

	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	text-decoration: underline;
}

.hit_value {
	position: absolute;
	top: 210px;
	left: 13px;

	line-height: 45px;
	font-size: 45px;
	font-weight: bold;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hit_value span {
	display: inline-block;
	padding-left: 37px;

	line-height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

	vertical-align: bottom;
	background: url("../img/icon_sprite.png") no-repeat -2184px -49px;
}

.about {
	padding-top: 1px;

	border-radius: 15px;

	color: #323232;

	background: #ede1c9 url("../img/wafer_bg.jpg") repeat;
}

.about h1 {
	margin: 23px 21px 5px 21px;
	padding: 0;

	text-align: left;
	color: #323232;
	line-height: 30px;
	font-size: 24px;
	font-weight: 500;
}

.about .about_left {
	float: left;
	padding-left: 76px;

	line-height: 22px;
	font-size: 16px;
}

.about .about_right {
	float: right;
	padding-left: 57px;

	line-height: 22px;
	font-size: 16px;
}

.about_left p,
.about_right p {
	position: relative;

	margin-bottom: 25px;
}

.about_left p::before,
.about_right p::before {
	content: "";
	position: absolute;
	height: 50px;
	width: 50px;
	top: -13px;
	left: -55px;
	background: url("../img/icon_sprite.png") no-repeat;
}

.about_left p:first-child::before {
	background-position: -1122px -48px;
}

.about_left p:last-child::before {
	background-position: -559px -51px;
}

.about_right p:first-child::before {
	background-position: -412px -48px;
}

.about_right p:last-child::before {
	background-position: -2569px -51px;
}

.new_sub .news {
	float: left;
	padding-top: 20px;
	padding-left: 20px;
	min-height: 220px;

	border-radius: 15px;

	color: #323232;

	background: #ffffff url("../img/news_bg.jpg") no-repeat right top;
}

.news h3 {
	margin: 0;
	margin-bottom: 5px;

	line-height: 22px;
	font-size: 16px;
	font-weight: 500;
}

.news .news_link {
	color: #323232;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.new_sub .subscription {
	float: right;
	padding: 5px;
	box-sizing: border-box;
	min-height: 220px;

	border-radius: 15px;
	
	color: #5a5a5a;
	background: #ffffff url("../img/subscription_bg.jpg") repeat;
}

.subscription .subscription_form {
	padding: 28px 15px 36px 25px;

	border-radius: 15px;

	line-height: 22px;

	background: #f8f7f4;
}

.subscription_form p {
	margin: 0;
	margin-bottom: 35px;
}

.subscription_form .subscription_area {
	margin: 0;

	padding: 9px 15px 9px 15px;
	width: 367px;
	box-sizing: border-box;
	
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;

	line-height: 24px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
}

.subscription_form .subscription_area:hover {
	box-shadow: 0 0 0 2px #c7c6c5;
}

.subscription_form .subscription_area:focus {
	box-shadow: 0 0 0 2px #8fbdec;
}

.subscription_form .button {

	float: right;
	display: inline;
	padding: 9px 19px 12px 19px;

	background: #ee5e3f;
	background: linear-gradient(to bottom, #f26843, #e74a35);
}

main .map {
	position: relative;

	height: 430px;

	background: url("../img/map.jpg") no-repeat;
}

main .map::before {
	content: "";
	position: absolute;
	top: 138px;
	left: 267px;
	height: 142px;
	width: 218px;
	background: url("../img/icon_sprite.png") -1272px -50px;
}

.map .contacts_full {
	position: absolute;
	right: 27px;
	top: 62px;

	box-sizing: border-box;
	margin: 0;
	padding: 27px 25px 27px 28px;
	width: 302px;
	min-height: 305px;

	border-radius: 15px;
	color: #323232;

	background: #ffffff;
}

.contacts_full h3 {
	margin: 0;

	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
}

.contacts_full h3:last-of-type {
	margin-top: 19px;
	margin-bottom: 3px;
}

.contacts_full b {
	line-height: 24px;
	font-size: 18px;
	font-weight: bold;
}

.contacts_full span {
	line-height: 24px;
	font-size: 14px;
}

.contacts_full .button {
	display: block;
	margin-top: 23px;
	padding: 9px 26px 12px 26px;
	
	background: #eb593c;
	background: linear-gradient(to bottom, #f26843, #e74a35);
}

/* ------catalog */
main .ice_sort {
	position: relative;

	padding-top: 1px;
}

main .great_ice_catalog {
	margin: 0 auto 0 auto;
	width: 1172px;
	font-size: 0;
}

.ice_sort .crumbs {
	width: 500px;
	padding-top: 26px;
	margin-bottom: 4px;

	font-size: 0;
}

.crumbs div {
	position: relative;

	display: inline-block;
	vertical-align: baseline;

	margin-right: 23px;
	
	line-height: 16px;
	font-size: 14px;
}

.crumbs div::after {
	position: absolute;
	content: "»";
	right: -15px;
}

.crumbs div:last-child::after {
	content: none;
}

.crumbs a,
.crumbs .crumbs_current:hover,
.crumbs .crumbs_current:active {
	color: #ffffff;
}

.crumbs a:hover,
.crumbs a:active {
	color: #ffbc9e;
}

.ice_sort .catalog_main_h {
	margin: 0;
	margin-bottom: 25px;

	line-height: 41px;
	font-size: 35px;
	font-weight: bold;
}

/*/-=-=-=-=-=-=-=-=-=-=-=-=-=-=-/*/

.ice_form_wrapper {
	/*temp*/
	width: 1000px;
}

.ice_form_wrapper .ice_form {
	font-size: 0;
}

.ice_form_block {
	display: inline-block;
	vertical-align: top;
	margin-right: 14px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.ice_form_block .mini_title {
	display: inline-block;
	vertical-align: top;
	margin-left: 17px;
	margin-bottom: 7px;
	
	font-size: 14px;
	line-height: 16px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-SELECT*/

.ice_form_sort select {
	position: relative;

	padding-left: 16px;
	padding-right: 50px;
	height: 36px;
	
	color: #ffffff;
	font-family: Roboto, Arial, sans-serif;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	outline: none;
	font-weight: 500;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;

	background: rgba(248, 247, 244, 0.2);
}

.ice_form_sort select::-ms-expand {
	display: none;
}

.ice_form_sort option {
	color: #323232;
	line-height: 18px;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
}

.ice_form_sort .select_arrow {
	position: relative;
}

.ice_form_sort .select_arrow::after {
	content: "";
	position: absolute;
	top: 16px;
	right: 16px;
	border: 4px solid transparent;
	border-top: 4px solid #ffffff;
	cursor: pointer;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-FILTER*/

.form_range {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	line-height: 16px;
}

.form_range input {
	width: 50px;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	color: #ffffff;
	
	border: none;
	outline: none;

	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	background: transparent;
}

.min_range + span {
	display: inline;
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 4px;
	font-size: 14px;
	line-height: 14px;
}

.ice_form_price .range_controls {
	width: 220px;
	height: 36px;
	padding: 16px 0 16px 0;
	box-sizing: border-box;
	border-radius: 20px;
	background: rgba(248, 247, 244, 0.2);
}

.range_controls .stick {
	position: relative;
	height: 4px;
	width: 185px;
	margin: 0 auto;
	padding: 0 55px 0 30px;
	box-sizing: border-box;
	background: rgba(248, 247, 244, 0.5);
}

.stick .stick_value {
	height: 4px;
	width: 100%;
	background: rgba(248, 247, 244, 1);
}

.range_button {
	position: absolute;
	top: -7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(248, 247, 244, 1);
	cursor: pointer;
}

.range_button_min {
	left: 20px;
}

.range_button_max {
	right: 45px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-FAT*/

.fat_type {
	height: 36px;
	padding: 0;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	
	font-size: 0;

	border-radius: 20px;
	background: rgba(248, 247, 244, 0.2);
}

.fat_type .fat_item {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;

	font-size: 16px;
	line-height: 18px;
	cursor: pointer;
}

.fat_type .fat_item:first-child {
	margin: 0;
}

.fat_percent {
	position: relative;
	padding-left: 30px;
}

.fat_percent span {
	position: absolute;
	left: 0;
	top: -2px;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid rgba(248, 247, 244, 1);
	border-radius: 50%;
}

.fat_item input {
	display: none;
}

.fat_rad:checked + .fat_percent span::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(248, 247, 244, 1);
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-FILLER*/

.ice_form_filler {
	padding-top: 15px;
	
}

.filler {
	height: 36px;
	padding: 0;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	
	font-size: ;

	border-radius: 20px;
	background: rgba(248, 247, 244, 0.2);
}

.filler .filler_item {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;

	font-size: 16px;
	line-height: 18px;
	cursor: pointer;
}

.filler .filler_item:first-child {
	margin: 0;
}

.check_icon {
	position: relative;
	padding-left: 30px;
}

.check_icon span {
	position: absolute;
	left: 0;
	top: -2px;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 1px solid rgba(248, 247, 244, 1);
	border-radius: 5px;
}

.filler_item input {
	display: none;
}

.filler_check:checked + .check_icon span {
	background: url("../img/icon_sprite.png") -293px -51px;
}

.range_button:hover,
.fat_percent span:hover,
.check_icon span:hover {
	box-shadow: 0 0 0 1px rgba(248, 247, 244, 1);
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-BUTTON*/

.ice_form_submit {
	margin-left: 2px;
	vertical-align: bottom;
}

.ice_form_button {
	height: 36px;
	padding: 0;
	padding-top: 0;
	padding-left: 27px;
	padding-right: 27px;
	box-sizing: border-box;
	border: 2px solid #ffffff;
	outline: 0;
	
	color: #ffffff;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;

	border-radius: 20px;
	background: rgba(248, 247, 244, 0.2);
	cursor: pointer;
}

.ice_form_button:hover {
	color: #323232;
	background: #fbfcfb;
}

.ice_form_button:active {
	color: #323232;
	background: rgb(237, 237, 237);
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.8);
}
	
/* --------------------------------- GREAT ICE CATALOG */

.ice_item_wrapper {
	position: relative;
	display: inline-block;
	
	vertical-align: top;
	margin-bottom: 35px;
}

.great_ice_item {
	border-top: 6px solid transparent;
	border-right: 13px solid transparent;
	border-left: 13px solid transparent;

	text-align: center;

	width: 267px;

	font-size: 16px;
}

.great_ice_hower .button {
	display: inline-block;
	margin: 4px auto 20px auto;
	padding: 9px 15px 10px 16px;
	
	border: none;
	border-radius: 35px;

	line-height: 24px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	outline: none;

	background: #eb593c;
	background: linear-gradient(to bottom, #f26843, #ca3824);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.great_ice_item:hover {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px 10px 0 0;
}

.great_ice_item:hover::before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	bottom: 0;
	z-index: 9;
	height: 100%;
	width: 1px;
	box-shadow: -3px 0 20px 1px rgba(0, 0, 0, 0.4);
}

.great_ice_item:hover::after {
	content: "";
	position: absolute;
	right: 0;
	top: 10px;
	bottom: 0;
	z-index: 9;
	height: 100%;
	width: 1px;
	box-shadow: 3px 0 20px 1px rgba(0, 0, 0, 0.4);
}

.great_ice_hower {
	position: absolute;
	bottom: -72px;
	left: 0;
	z-index: 8;

	padding-top: 5px;
	width: 293px;
	display: none;
	
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

	background: rgba(255, 255, 255, 0.3);
}

.ice_item_wrapper:hover .great_ice_hower {
	display: block;	
}

/* --------------------------------- PAGINATOR */

.paginator {
	position: relative;
	margin-top: 34px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;

	text-align: right;
	width: 1146px;

	font-size: 0;
}

.paginator::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.3);
}

.paginator a {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 26px;
	height: 26px;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	text-decoration: none;
}

.paginator .paginator_item {
	width: 26px;
	height: 26px;
	margin-right: 3px;
	border-radius: 50%;
	text-align: center;
}

.paginator .paginator_item:hover {
	background: rgba(255, 255, 255, 0.2);
}

.paginator .current_paginator_item,
.paginator .current_paginator_item:hover,
.paginator .paginator_item:active {
	color: #323232;
	background: #ffffff;
}

.paginator .paginator_left,
.paginator .paginator_right {
	height: 26px;
	width: 9px;
}

.paginator .paginator_left {
	position: relative;
	margin-right: 14px;
}

.paginator .paginator_left::before {
	content: "";
	position: absolute;
	top: 10px;
	right: 0px;
	height: 2px;
	width: 8px;
	background: rgba(255, 255, 255, 1);
	transform: rotate(-45deg);
}

.paginator .paginator_left::after {
	content: "";
	position: absolute;
	bottom: 10px;
	right: 0px;
	height: 2px;
	width: 8px;
	background: rgba(255, 255, 255, 1);
	transform: rotate(45deg);
}

.paginator .current_paginator_side::before,
.paginator .current_paginator_side::after {
	background: rgba(255, 255, 255, 0.2);
}

.paginator .paginator_right {
	position: relative;
	margin-right: 0;
	margin-left: 11px;
}

.paginator .paginator_right::before {
	content: "";
	position: absolute;
	top: 10px;
	right: 0px;
	height: 2px;
	width: 8px;
	background: rgba(255, 255, 255, 1);
	transform: rotate(45deg);
}

.paginator .paginator_right::after {
	content: "";
	position: absolute;
	bottom: 10px;
	right: 0px;
	height: 2px;
	width: 8px;
	background: rgba(255, 255, 255, 1);
	transform: rotate(-45deg);
}

/* --------------------------------- FOOTER STYLE */

.main_footer {
	margin: 19px auto 0 auto;
	padding-bottom: 20px;
}

.main_footer .footer_icons {
	float: left;
	padding-left: 3px;
	margin-right: 171px;
	width: 250px;
	
	font-size: 0;
}

.footer_icons .small_icons {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 3px solid #c2cec7;
	border-radius: 50%;
	margin-top: 15px;
	margin-right: 11px;
	height: 38px;
	width: 38px;

	font-size: 0;
	background: url("../img/icon_sprite.png");
}

.footer_icons .icon_twit {
	background-position: -2720px -53px;
}

.footer_icons .icon_ins {
	background-position: -1835px -53px;
}

.footer_icons .icon_fb {
	background-position: -712px -53px;
}

.footer_icons .icon_vk {
	background-position: -2858px -53px;
}

.footer_icons .icon_twit:hover {
	background: url("../img/social_hover.png") -279px -3px no-repeat;
}

.footer_icons .icon_ins:hover {
	background: url("../img/social_hover.png") -141px -3px no-repeat;
}

.footer_icons .icon_fb:hover {
	background: url("../img/social_hover.png") -3px -3px no-repeat;
}

.footer_icons .icon_vk:hover {
	background: url("../img/social_hover.png") -417px -3px no-repeat;
}

.footer_icons .small_icons:active {
	box-shadow: inset 0px 2px 1px 0px rgb(136, 136, 136);
}

.main_footer .specification {
	float: left;
	font-size: 0;
}

.specification .specification_item {
	display: inline-block;
	margin-top: 13px;
	margin-right: 32px;
	vertical-align: top;
}

.specification_item a {
	color: #ffffff;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
}

.academy {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
}

.specification_item .spec_custom {
	position: relative;
	font-weight: bold;
}

.specification_item .spec_custom::before {
	position: absolute;
	left: -25px;
	top: 2px;
	content: "";
	width: 15px;
	height: 13px;
	
	background: url("../img/icon_sprite.png") -847px -50px;
}

.main_footer .developers {
	float: right;

	line-height: 18px;
	color: #fefefe;
	font-size: 12px;
}

.developers a {
	color: #fefefe;
}

/* --------------------------------- POPUP STYLE */

.popup {
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 50%;

	padding-top: 16px;
	padding-bottom: 26px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: -239px;
	margin-top: -221px;

	
	width: 478px;
	box-sizing: border-box;
	
	border-radius: 15px;
	background: #f8f7f4;

	color: #323232;
}

.popup .close_popup {
	position: absolute;
	height: 23px;
	width: 23px;

	top: 12px;
	right: 13px;
	cursor: pointer;
}

.popup .close_popup::after,
.popup .close_popup::before {
	position: absolute;
	right: 10px;
	content: "";
	display: block;
	height: 23px;
	width: 2px;
	background-color: #323232;
}

.popup .close_popup::after {
	transform: rotate(45deg);
}

.popup .close_popup::before {
transform: rotate(-45deg);
}

.popup + .modal_overlay {
	position: fixed;
	z-index: 6;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.3);
}

.popup b {
	display: block;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.popup .feedback_form {
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 0;
}

.feedback_form input {
	display: block;
	width: 266px;
	height: 42px;
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 22px;
	box-sizing: border-box;

	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);

	color: #323232;
	line-height: 42px;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
}

.feedback_form textarea {
	width: 428px;
	height: 155px;
	padding-top: 8px;
	padding-left: 14px;
	margin-bottom: 25px;
	box-sizing: border-box;
	resize: none;

	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.52);

	color: #999999;
	line-height: 24px;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;
}

.how_name + span,
.you_mail + span,
.write_some + span {
	position: absolute;
	display: none;
	font-size: 11px;
	color: #5b9ddf;
}

.how_name + span {
	top: 48px;
	left: 40px;
}

.you_mail + span {
	top: 112px;
	left: 40px;
}

.write_some + span {
	top: 176px;
	left: 40px;
}

.how_name:focus + span {
	display: block;
}

.you_mail:focus + span {
	display: block;
}

.write_some:focus + span {
	display: block;
}

.feedback_form input:hover,
.feedback_form textarea:hover {
	box-shadow: 0 0 0 2px #c7c6c5;
}

.feedback_form input:focus,
.feedback_form textarea:focus {
	box-shadow: 0 0 0 2px #8fbdec;
}

.feedback_form .button {
	display: inline-block;
	vertical-align: top;

	background: #eb593c;
	background: linear-gradient(to bottom, #f26843, #e74a35);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

/* ---------------------------------  */

.button:hover {
	cursor: pointer;
	color: #fefefe;
	background: linear-gradient(to bottom, #f58669, #ec6f5e);
	box-shadow: 0 1px 2px rgb(172, 16, 0);
}

.button:active {
	color: #fceeec;
	background: linear-gradient(to bottom, #d74531, #e1613e);
	box-shadow: inset 0 2px 2px #942718;
}

.hov_act:hover,
.hov_act:active {
	color: #ffbc9e;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
